/.env
/result
/result-*
.go

# Binaries for programs and plugins
*.exe
*.exei~
*.dll
*.so
*.dylib
scritti

# Test binary, build with `go test -c`
*.test
vendor

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
__debug_bin
design.md
*.code-workspace
.vscode